.btn-main, .btn-main-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #00B4D9;
  color: white;
  border: solid 1px #00B4D9;
  font-weight: 500;
  border-radius: 15px;
}
.btn-main:hover, .btn-main-s:hover {
  background-color: white;
  color: #00B4D9;
  border: solid 1px #00B4D9;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.main-menu {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 4px;
}
.main-menu li {
  list-style: none;
  margin-right: 2rem;
}
.main-menu a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
  position: relative;
}
.main-menu a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: #00B4D9;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.main-menu a:hover::before {
  transform: scaleX(1);
  visibility: visible;
}
.main-menu a:hover {
  color: #00B4D9;
}

.icon-facebook i {
  font-size: 1.25rem;
  color: black;
  padding: 0.4rem 0.65rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  background-color: white;
}
.icon-facebook i:hover {
  color: white;
  background-color: #5A74A9;
}

.icon-instagram i {
  font-size: 1.25rem;
  color: black;
  padding: 0.4rem 0.65rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  background-color: white;
}
.icon-instagram i:hover {
  color: white;
  background-color: #F2035B;
}

.icon-linkedin i {
  font-size: 1.25rem;
  color: black;
  padding: 0.4rem 0.65rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  background-color: white;
}
.icon-linkedin i:hover {
  color: white;
  background-color: #0961B8;
}

.icon-whatsapp i {
  font-size: 1.25rem;
  color: black;
  padding: 0.4rem 0.65rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  background-color: white;
}
.icon-whatsapp i:hover {
  color: white;
  background-color: #3FDC5B;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.skills .icon {
  color: #00B4D9;
  font-size: 5rem;
}
.skills .description .title {
  font-size: 1.5rem;
}
.skills .description .text {
  color: #888;
  font-weight: 600;
}
.skills .cta {
  color: #00B4D9;
  font-weight: 600;
  margin-top: 3rem;
}

.icon-sm i {
  font-size: 1.25rem;
  color: #00B4D9;
  padding: 0.4rem 0.65rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
}

.icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-desc .icon {
  padding: 0;
  color: #00B4D9;
  font-size: 4rem;
}
.icon-desc .title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.benefit {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.benefit .card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  padding: 1rem 1rem;
  transition: all 0.3s ease-in-out 0s;
  height: 28rem;
}
.benefit .card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.benefit .icon {
  color: #00B4D9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 11rem;
  height: 11rem;
}
.benefit .description .title {
  font-size: 1.5rem;
  margin: 2rem;
}
.benefit .description .text {
  color: #888;
  font-weight: 600;
}

html {
  min-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  padding-top: 5.6rem;
}

.nav {
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 5.6rem;
  border-bottom: solid 1px #ddd;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
}

.logo img {
  max-width: 13rem;
}

.sec-home {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
  max-width: 100%;
  background: url(/assets/img/portada.JPG) no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
}
.sec-home .home-cta {
  flex: 1;
  padding: 4rem 0;
}
.sec-home .home-cta .cta-text {
  color: #00B4D9;
}
.sec-home .home-cta .home-title {
  margin: 14rem 0;
  width: 20rem;
  font-size: 3rem;
  color: white;
}
.sec-home .home-cta .home-description {
  width: 300px;
  font-weight: 800;
  color: white;
}
.sec-home .home-cta .lead-magnet .input-col {
  max-width: 200px;
}

.sec-footer-cta {
  background: url(/assets/img/portada.JPEG) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  filter: brightness(0.6);
}
.sec-footer-cta .footer-cta .cta-title {
  width: 50%;
  font-size: 2rem;
}
.sec-footer-cta .footer-cta .cta-description {
  font-size: 1.1rem;
}

.sec-fueatures, .sec-benefits .intro {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-fueatures .intro, .sec-benefits .intro .intro {
  text-align: center;
}
.sec-fueatures .intro h3, .sec-benefits .intro .intro h3 {
  font-size: 1.8rem;
}
.sec-fueatures .intro p, .sec-benefits .intro .intro p {
  font-size: 0.8rem;
  color: #888;
}
.sec-fueatures .features, .sec-benefits .intro .features {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sec-fueatures .features .features-text, .sec-benefits .intro .features .features-text {
  padding: 2rem 0;
  flex: 1;
}
.sec-fueatures .features .features-text .feature, .sec-benefits .intro .features .features-text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sec-fueatures .features .features-text .feature .description, .sec-benefits .intro .features .features-text .feature .description {
  margin-left: 1rem;
  max-width: 20rem;
}
.sec-fueatures .features .features-text .feature .description .description-title, .sec-benefits .intro .features .features-text .feature .description .description-title {
  font-size: 1.15rem;
}
.sec-fueatures .features .features-text .feature .description .description-text, .sec-benefits .intro .features .features-text .feature .description .description-text {
  font-size: 1rem;
}
.sec-fueatures .features .features-text .feature .description .description-text a, .sec-benefits .intro .features .features-text .feature .description .description-text a {
  text-decoration: none;
}
.sec-fueatures .features .image img, .sec-benefits .intro .features .image img {
  max-width: 15rem;
}

.welcome {
  color: #fff;
  font-family: "Shadows Into Light", cursive;
  font-size: 50px;
  padding: 1rem;
}

.name {
  color: #fff;
  font-size: 80px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem;
}

.info {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
  font-family: "Shadows Into Light", cursive;
  padding: 1rem;
}

.social-icon {
  margin-bottom: 0;
}
.social-icon li {
  list-style: none;
  display: inline;
  font-size: 0.75rem;
  margin-right: 2rem;
}

.sec-benefits {
  border-top: 1px solid #ddd;
}
.sec-benefits .intro p {
  font-size: 0.8rem;
  color: #888;
}
.sec-benefits .benefit-cards {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.sec-skills {
  width: 100%;
  background-color: #00B4D9;
  color: white;
  padding: 4rem;
}
.sec-skills .kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.sec-skills .kpi img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 8rem;
  height: 8rem;
  transition: all 0.3s ease-in-out 0s;
}
.sec-skills .kpi img:hover {
  transform: translateY(-4px);
  max-width: 8rem;
  height: 8rem;
}
.sec-skills .kpi .desc {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6666666667);
}

/*# sourceMappingURL=styles.css.map */
