@mixin btn-base{
    padding: 0.25rem 1.5rem;
    border-radius:0.25rem;
}

@mixin btn-sm-modify{
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

@mixin btn-global{
    font-size: 1rem;
    color: black;
    padding: 0.4rem 0.65rem;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000040;
    background-color: white;
}
//Variables
$primary-color: #00B4D9;
//$secondary-color: ;

.btn-main{
    @include btn-base();
    background-color: $primary-color;
    color: white;
    border: solid 1px $primary-color;
    font-weight: 500;
    border-radius: 15px;
    &:hover{
        background-color: white;
        color: $primary-color;
        border: solid 1px $primary-color;
    }

    &-s{
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.main-menu{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 4px;
    
    li{
        
        list-style: none;
        margin-right: 2rem;
       
    }
    a{
        color: #333;
        text-decoration: none;
        font-size: 14px;
        transition: color 0.3s ease-in-out;
        position: relative;
        &::before{
            
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: -3px;
            left: 0;
            background-color: $primary-color;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
        }
        &:hover::before{
            transform: scaleX(1);
            visibility: visible;   
        }
        &:hover{
            color:$primary-color;
        }

    }

   
}

.main-menu a.active::before {
    transform: scaleX(1);
    visibility: visible;
  }
  
  .main-menu a.active {
    color: $primary-color;
  }
  

.icon-facebook{
    i{
        @include btn-global();
        &:hover{
            color: white;
            background-color: #5A74A9;
        }
    }

}

.icon-instagram{
    i{
        @include btn-global();
        &:hover{
            color: white;
            background-color: #F2035B;
        }
    }

}

.icon-linkedin{
    i{
        @include btn-global();
        &:hover{
            color: white;
            background-color: #0961B8;
        }
    }

}

.icon-whatsapp{
    i{
        @include btn-global();
        &:hover{
            color: white;
            background-color: #3FDC5B;
        }
    }

}

.skills{
    display: flex;
    flex-direction: column;
    text-align: center;

    .icon{
        color: $primary-color;
        font-size: 5rem;
    }

    .description{
        .title{
            font-size: 1.5rem;
        }

        .text{
            color: #888;
            font-weight: 600;
        }
    }

    .cta{
        color: $primary-color;
        font-weight: 600;
        margin-top: 3rem;
    }
}

.icon-sm{
    i{
        font-size: 1.25rem;
        color: $primary-color;
        padding: 0.4rem 0.65rem;
        border-radius: 50%;
        box-shadow: 0 0 10px #00000040;
    }
}

.icon-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon{
        padding: 0;
        color: $primary-color;
        font-size: 4rem;
    }

    .title{
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.benefit{
    display: flex;
    flex-direction: column;
    text-align: center;
    .card {
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px #00000040;
        padding: 1rem 1rem;
        transition: all 0.3s ease-in-out 0s;
        height: 28rem;
        &:hover{
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transform: translateY(-4px);
        }
      }
    .icon{
        color: $primary-color;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 11rem;
        height: 11rem;
    }

    .description{
        .title{
            font-size: 1.5rem;
            margin: 2rem;
        }

        .text{
            color: #888;
            font-weight: 600;

        }
    }

} 


